# MongoDB Connection String
# Get this from MongoDB Atlas dashboard
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/rudra-portfolio?retryWrites=true&w=majority

mongodb+srv://rpatel:ctjDhn9mDx9Su@cluster0.mongodb.net/rudra-portfolio?retryWrites=true&w=majority

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
SMTP_TO=patelrudra99098@gmail.com

