# MongoDB Connection String
# Get this from MongoDB Atlas dashboard
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/rudra-portfolio?retryWrites=true&w=majority

mongodb+srv://rpatel:ctjDhn9mDx9Su@cluster0.mongodb.net/rudra-portfolio?retryWrites=true&w=majority
